<%- include('../partials/header') %>

<section id="show-page">
  <div>airline </div>
  <div><%= flight.airline %></div>
  <div>airport </div>
  <div><%= flight.airport %></div>
  <div>flightNo </div>
  <div><%= flight.flightNo %></div>
  <div>departs </div>
  <div><%= flight.departs %></div>
  <div>destinations </div>
  <div><%= flight.destinations %></div>
</section>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/movies/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <textarea name="destination"></textarea>
  <label>Arrival:</label>
  <textarea name="arrival"></textarea>
<input type="submit" value="Add destination">
</form>


<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>destination</th>
          <th>Arrival date</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td><%= f.destination %></td>
            <td><%= f.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>
  
<%- include('../partials/footer') %>